<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Navbar title  -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <!-- Navbar list items -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
        </ul>
      -->
        <ul class="nav navbar-nav navbar-right">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
